		body {
            font-family: arial;
        }

        div.contenedor {
            margin: auto;
            width: 1000px;
        }

        section {
            width: 1000px;
            background-color: cyan;
            border-radius: 10px;
            box-sizing:border-box;
            padding: 20px;
            margin-top: 10px;
        }

        div.info1 {
            width: 550px;
			height:350px;
            margin: auto;
            display: inline-block;
            vertical-align: top;
			border:1px solid grey;
			padding:10px;
            box-sizing:border-box;
            background-color: white;
        }

        div.info2 {
            width: 400px;
            height:350px;
            margin: auto;
            display: inline-block;
            vertical-align: top;
            border:1px solid grey;
            padding:10px;
            box-sizing:border-box;
            background-color: white;
            text-align: center;
        }

        label {
            width: 160px;
            display: inline-block;
            vertical-align: top;
        }

        input[type='text'] {
            width: 250px;
        }

        div#resumen {
            width: 510px;
            height: 40px;
            background-color: #BBDCFF;
            padding: 10px;
        }

        table, td {
            border: 1px solid blue;
        }

        td {
            padding:3px;
        }

        td:not(.borrar) {
            width: 100px;
        }

        td.borrar {
            font-weight: bold;
            font-family: arial;
            color:red;
            cursor:pointer;
        }
        select option[value="blanca"] {
            background-color: white;
        }
        select option[value="amarilla"] {
            background-color: yellow;
        }
        select option[value="naranja"] {
            background-color: orange;
        }
        select option[value="roja"] {
            background-color: red;
        }
        select option[value="verde"] {
            background-color: green;
        }
        select option[value="azul"] {
            background-color: blue;
        }
        select option[value="negra"] {
            background-color: black;
            color: white;
        }
        .resaltar {
            background-color: yellow;
        }